body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: rgba(26, 52, 107, 0.603);
  color: rgba(255, 255, 255, 0.966);
  border-radius: 0;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
  margin-bottom: 2px;
}

.time-block {
  text-align: center;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  padding-top: 9px;
  color: #000000;
  background-color: #f3f8d4;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.past {
  background-color: rgb(224, 241, 247);
  color: white;
}

.present {
  background-color: #f3ea6e;
  color: white;
}

.future {
  background-color: #9be29b;
  color: white;
}

.saveBtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #06aed5;
  color: white;
  margin-bottom: 2px;
}

i {
  margin-top: 15px;
  font-size: 25px;
  padding: 10px;
}

.saveBtn i:hover {
  font-size: 30px;
  color: darkblue;
  transition: all 0.3s ease-in-out;
}

footer {
  margin: 20px;
  text-align: center;
}